.vscode/
venv_mapf/
edge_bundle_files/
edge_bundles_npz/
.ipynb_checkpoints/
/src/__pycache__/
/pipeline_code/__pycache__/
.venv/
*.aux
*.fdb_latexmk
*.fls 
*.log 
*.out 
*.synctex.gz
.DS_Store
.python-version
build 
__pycache__/
/src/Agents/*.pyc
/src/Agents/__pycache__/
logs.txt
**/env_checks/
**/himanshu_envs/
check*.png
visualizations/__pycache__/
new_format_motions/
paper_results/
# MRMP/dbRRT scratch artifacts
mrmp_tmp/
/tmp_*.yaml
/out_dbrrt.yaml
brad_plots/
edge_bundles_unclamped/eb_second_order_car_kinodynamic_TI_edges_100000_L_0p7.npz
/paper_plots/csvs/
/paper_plots/data/
/paper_plots/figures/
/edge_bundles/*.npz
/edge_bundles_unclamped/
/motion_primitives/
/media/
/pipeline_code/generated_dbcbs_checks/
